<div (click)="toggleSelected()" #textContainer class="container"
           [ngClass]="[
      !isSelected && !showResults()? 'notDisplayed notSelected' : '',
      isSelected && !showResults()? 'notDisplayed selected' : '',
      isCorrect && showResults() ? 'rightAnswer' : '',
      !isCorrect && showResults() ? 'wrongAnswer' : '',
      isCorrect && showResults() && !isSelected? 'isMistake' : '',
      !isCorrect && showResults() && isSelected? 'isMistake' : '',
      isCorrect && showResults() && isSelected? 'isNotAMistake' : ''
      ]">
  <div>{{label}}</div>
</div>
