<div class="page-container">

  <!-- Top bar avec dropdowns -->
  <div class="top-bar">
    <div class="dropdowncontainer">
      <app-drop-down
        [items]="LANGUAGES"
        [label]="LANGUAGES[0]"
        [width]="100"
        (selectedChange)="changeLanguage($event)">
      </app-drop-down>
    </div>

    <div class="dropdowncontainer">
      <app-drop-down
        [items]="LEVELS"
        [label]="LEVELS[0]"
        [width]="100"
        (selectedChange)="changeLevel($event)">
      </app-drop-down>
    </div>
  </div>

  <!-- Theme tile -->
  <theme-tile class="theme-tile"></theme-tile>

  <!-- Question zone -->
  <question class="question-zone"></question>

</div>
